@charset "UTF-8";
/* s padding normal to kolem 1040px dělalo problémy */
/* media queries breakpoints
    @media only screen and (min-width: 1024px) {} */
.header {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  background-color: #111d4a;
  align-items: center;
}
@media only screen and (min-width: 1024px) {
  .header {
    border-radius: 10px 10px 0 0;
  }
}

.logo__img {
  padding: 20px;
  margin-top: 6px;
  width: 200px;
}
@media only screen and (min-width: 1024px) {
  .logo__img {
    width: 235px;
  }
}

@media only screen and (min-width: 1024px) {
  .menu {
    padding-right: 20px;
  }
}
.menu__icon {
  color: #f4f4f4;
  padding: 32px 20px 20px 10px;
  font-weight: 600;
  font-size: 20px;
  float: right;
}
@media only screen and (min-width: 1024px) {
  .menu__icon {
    display: none;
    font-size: 24px;
  }
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}
.menu__checkbox:checked ~ .logo__img {
  display: none;
}
.menu__list {
  padding: 0;
  background-color: #111d4a;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .menu__list {
    display: inline-block;
    float: right;
  }
}
.menu__item {
  padding: 20px 15px;
  list-style: none;
  border-bottom: 1px solid #f4f4f4;
}
@media only screen and (min-width: 1024px) {
  .menu__item {
    border-bottom: none;
    display: inline-block;
  }
}
.menu__link {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  display: block;
}
@media only screen and (min-width: 1024px) {
  .menu__link:hover {
    border-bottom: 2px solid #f4f4f4;
  }
}
@media only screen and (min-width: 1024px) {
  .menu__link--active {
    border-bottom: 2px solid #f4f4f4;
  }
}

.footer {
  background-color: #111d4a;
  color: #f4f4f4;
  padding: 20px;
  text-align: center;
  align-items: center;
  margin-top: 50px;
}
@media only screen and (min-width: 1024px) {
  .footer {
    border-radius: 0 0 10px 10px;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #f4f4f4;
  max-width: 1500px;
  margin: auto;
  line-height: 1.8;
  box-sizing: border-box;
  color: #494949;
}

.section {
  padding: 20px;
}

.hero {
  background-color: #6883ba;
  min-height: 250px;
}
@media only screen and (min-width: 1024px) {
  .hero {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
  }
}
.hero__img {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .hero__img {
    display: block;
    width: 200px;
    height: 290px;
  }
}

.panel {
  text-align: center;
  padding: 20px;
}

.text--center {
  font-size: 18px;
}

h1 {
  font-size: 40px;
  color: #f4f4f4;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 28px;
}
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  font-size: 20px;
  color: #6883ba;
}
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 24px;
  }
}

.darkblue {
  color: #111d4a;
}

.white {
  color: #f4f4f4;
}

.blue {
  color: #6883ba;
}

.boxy {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .boxy {
    display: flex;
    justify-content: space-between;
  }
}
.boxy .box {
  padding: 20px;
}
@media only screen and (min-width: 1024px) {
  .boxy .box {
    flex-basis: 30%;
  }
}
.boxy .box__icon {
  padding: 20px;
  width: 60px;
  color: #111d4a;
}

.button--blue {
  background-color: #6883ba;
  padding: 20px;
  text-align: center;
  border: none;
  border-radius: 10px;
  width: 150px;
  margin: auto;
  margin-top: 30px;
}

.button__link {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
@media only screen and (min-width: 1024px) {
  .columns {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .column {
    grid-column: 2/3;
    grid-row: span 2;
  }
}

.foto {
  width: 100%;
  grid-column: 1/2;
  border-radius: 10px;
}

.text--italic {
  font-style: italic;
}

.box__image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border: 2px solid #111d4a;
  border-radius: 10px;
  background-color: white;
}

.form {
  text-align: center;
}
.form__input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  display: inline-block;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #111d4a;
  outline: 0;
}
.form__input:focus {
  border: 3px solid #6883ba;
}
.form__block {
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #111d4a;
  max-width: 500px;
  margin: auto;
  margin-bottom: 40px;
  color: #111d4a;
}
.form__label {
  font-size: 16px;
  font-weight: 600;
  color: #494949;
}
.form_required {
  font-weight: 600;
  color: red;
}

.iframe {
  border: none;
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  height: 320px;
}

.table {
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;
}
.table__heading {
  padding: 5px 10px 5px 10px;
  font-size: 18px;
}
.table__text {
  padding: 5px 10px 5px 10px;
}

.form__input--kontakt {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  border: 2px solid #111d4a;
  outline: none;
}

.form__input--kontakt:focus {
  border: 3px solid #6883ba;
}

.form__label--kontakt {
  font-size: 16px;
  font-weight: 600;
  color: #494949;
}

.form__textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  display: block;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20px;
  width: 80%;
  max-width: 500px;
  border: 2px solid #111d4a;
  outline: none;
}

.form__textarea:focus {
  border: 3px solid #6883ba;
}

.button--simple {
  text-align: center;
  margin-top: 30px;
}

.button__link--simple {
  text-decoration: none;
  color: #6883ba;
  text-align: center;
  font-weight: 600;
  padding: 10px;
  border-bottom: 2px solid #6883ba;
  text-transform: uppercase;
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */