// Styly

// Fonts
$font-main:'Open Sans', sans-serif;;

// Colors 
$text-color:#494949;
$background-color: #f4f4f4;
$primary-color: #111d4a;
$secondary-color: #6883ba;
$alza-color:#5ab430;

//Padding
$padding-normal: 20px;
$padding-narrow: 10px;
$padding-table: 5px 10px 5px 10px;
$padding-menu: 20px 15px; /* s padding normal to kolem 1040px dělalo problémy */


//Font size
$normal-size: 16px;
$bigger-size: 18px;

/* media queries breakpoints
    @media only screen and (min-width: 1024px) {} */
