// Styly

// font-family
$font-main:'Open Sans', sans-serif;;

// Colors 
$text-color:#494949;
$background-color: #f4f4f4;
$primary-color: #111d4a;
$secondary-color: #6883ba;
$alza-color:#5ab430;

//Padding
$padding-normal: 20px;
$padding-narrow: 10px;

//font size
$normal-size: 16px;
$bigger-size: 18px;

/* media queries breakpoints
    @media only screen and (min-width: 480px) {}
    @media only screen and (min-width: 1024px) {} */

body {
    margin: 0;
    font-family:$font-main;
    font-size: $normal-size;
    background-color: $background-color;
    max-width: 1500px;
    margin: auto;
    line-height: 1.5;
    box-sizing: border-box;
    color: $text-color;
}

.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    border-radius: 10px 10px 0 0;
    
    &__logo {
        margin: 0;
        width: 150px;
    }
}


.logo__img {
    width: 250px;
    padding: $padding-normal;
}

.menu {
    display: flex;

    &__item {
        list-style-type: none;
        padding: $padding-normal;
    }

    &__link{
        text-decoration: none;
        color: $background-color;
        font-size: $bigger-size;
        font-weight: 600;
        background-color: $primary-color;  
        align-items: center;
    }
    &__link:hover{
        border-bottom: 2px solid $background-color;
    }
}

.section {
    padding: $padding-normal;
}

.hero {
    background-color: $secondary-color;
    min-height: 250px;
}


.panel {
    text-align: center;
    padding: $padding-normal;

    .text--center {
       font-size: $bigger-size; 
    }
}

h1 {
    font-size: 48px;
    color: $background-color;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
    color: $secondary-color;
}

.darkblue {
    color: $primary-color;
}

.white {
    color: $background-color;
}

.blue {
    color:$secondary-color;
}

.boxy {
    text-align: center;
    @media only screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
    }
    .box {
        padding: $padding-normal;
        @media only screen and (min-width: 1024px) {
            flex-basis: 30%;
        }
        &__icon {
            padding: $padding-normal;
        }
    }
}



.button--blue {
    background-color: $secondary-color;
    padding: $padding-normal;
    text-align: center;
    border: none;
    border-radius: 10px;
    width: 150px;
    margin: auto;
    margin-top: 30px;
   
}

.button__link {
    text-decoration: none;
    color: $background-color;
    font-size: $bigger-size;
    font-family: $font-main;
    font-weight: 600;
}
 // o hre 

.columns{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    @media only screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }
}

.column {
    @media only screen and (min-width: 1024px){
        grid-column: 2 / 3;
        grid-row: span 2;
    }
 }   
    /* .columns__text{
        margin: 0;
        @media only screen and (min-width: 1024px){
            grid-column: 2 / 3;
            grid-row: span 2;
        }
    } 
    .columns h2 {
        @media only screen and (min-width: 1024px){
            grid-column: 2 / 3;
        }
    }
    .columns h3 {
        @media only screen and (min-width: 1024px){
            grid-column: 2 / 3;
        }
    } */



.foto {
    width: 100%;
    grid-column: 1 / 2;
    border-radius: 10px;
    
    /* &--horni {
        @media only screen and (min-width: 1024px){
            grid-row: span 3;
        }
    }
    

    &--spodni {
        @media only screen and (min-width: 1024px){
            grid-row: 4 / 9;
        } 
    } */
}

//motivacni

.text--italic {
    font-style: italic;
}

.box__image {
    width: 100%; 
}

//registrace
.form {
    text-align: center;
    
    &__input {
        font-family: $font-main;
        font-size: $normal-size;
        font-weight: 400;
        padding: $padding-narrow;
        display: inline-block;
        width: 90%;
        margin-bottom: 20px;
        border-radius: 10px;
        border: 2px solid $primary-color;
        
    }

    &__block {
        font-size: $bigger-size;
        font-weight: 600;
        padding: $padding-normal;
        border-radius: 10px;
        border-width: 3px;
        border-color: $primary-color;
        max-width: 500px;
        margin: auto;
        margin-bottom: 40px;
        color: $primary-color;
    }
    &__label {
        font-size: $normal-size;
        font-weight: 600;
        color: $text-color;
    }
    &_required {
        font-weight: 600;
        color: red;
    }
}

//kontakt


.form__input--kontakt {
        font-family: $font-main;
        font-size: $normal-size;
        font-weight: 400;
        padding: $padding-narrow;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 10px;
        width: 80%;
        max-width: 500px;
        border: 2px solid $primary-color;
        
    }
.form__label--kontakt {
        font-size: $normal-size;
        font-weight: 600;
        color: $text-color;
    }
.form__textarea {
        font-family: $font-main;
        font-size: $normal-size;
        font-weight: 400;
        padding: $padding-narrow;
        display: block;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 20px;
        width: 80%;
        max-width: 500px;
        border: 2px solid $primary-color;
    }
.button--simple {
    margin-top: 30px;
}


.button__link--simple {
    text-decoration: none;
    color: $secondary-color;
    text-align: center;
    font-weight: 600;
    padding: $padding-narrow;
    border-bottom: 2px solid $secondary-color;
    text-transform: uppercase;
    font-size: $bigger-size;
}
//paticka

.footer{
    background-color: $primary-color;
    color: $background-color;
    padding: $padding-normal;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 0 0 10px 10px;
  }