// Styly

// font-family
$Rubik:'Rubik', sans-serif;

// Colors 
$text-color: black;
$background-color: #f4f4f4;
$primary-color: darkblue;
$secondary-color: pink;

//Padding
$padding-normal: 20px;

//font size
$normal-size: 16px;

/* media queries breakpoints
    @media only screen and (min-width: 480px) {}
    @media only screen and (min-width: 1024px) {} */

body {
    margin: 0;
    font-family: $Rubik;
    font-size: $normal-size;
    background-color: $background-color;
    max-width: 1500px;
    margin: auto;
    line-height: 1.5;
}

.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    
}
.header__logo {
    margin: 0;
    width: 150px;
  }

.logo__img {
    width: 50px;
    padding: 20px;
}

.menu {
    display: flex;

    .menu__item {
        list-style-type: none;
        padding: $padding-normal;
    }

    .menu__link{
        text-decoration: none;
        color: $background-color;
    
        background-color: $primary-color;  
        // border: 1px solid $background-color;
        align-items: center;
    }
}

.section {
    padding: $padding-normal;
}

.hero {
    background-color: $secondary-color;
    min-height: 250px;
}


.panel {
    text-align: center;
    padding: $padding-normal;

    .text--center {
       font-size: 18px; 
    }
}

.headding2--blue {
    color: $primary-color;
}


.boxy {
    text-align: center;
    @media only screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
    }
    .box {
        padding: $padding-normal;
        @media only screen and (min-width: 1024px) {
            flex-basis: 30%;
        }
        &__icon {
            padding: $padding-normal;
        }
    }
}



.button--blue {
    background-color: $primary-color;
    padding: $padding-normal;
    text-align: center;
    border: none;
    border-radius: 10px;
    width: 150px;
    margin: auto;
}

.button__link {
    text-decoration: none;
    color: $background-color;
    font-size: $normal-size;
    font-family: $Rubik;
}
 // o hre 

.columns{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    @media only screen and (min-width: 1024px) {
        grid-template-columns: 2fr;
    }

    .columns__text{
        margin: 0;
        @media only screen and (min-width: 1024px){
            grid-column: 2 / 3 
        }
    } 
    .columns h2 {
        @media only screen and (min-width: 1024px){
            grid-column: 2 / 3 
        }
    }
    .columns h3 {
        @media only screen and (min-width: 1024px){
            grid-column: 2 / 3 
        }
    }
}

.headding3--blue {
    color: $primary-color;
    @media only screen and (min-width: 1024px){
        grid-column: 2 / 3 
    }
}

.foto {
    width: 100%;
    grid-column: 1 / 2;
}


//registrace
.form {
    text-align: center;
}


//paticka

.footer{
    background-color: $primary-color;
    color: $background-color;
    padding: $padding-normal;
    text-align: center;
    align-items: center;
    margin-top: 50px;
  }