<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zašifrováno</title>

	<!-- Google Fonts: Rubik 400, 400i, 600 -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
	
    <!-- Moje CSS -->
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header class="header">
			
		<nav class="menu">
			<img class="logo__img" src="/images/logo3.png" alt="logo Zašifrováno">
			<input class="menu__checkbox" type="checkbox" id="menu-checkbox" />
			<label class="menu__icon" for="menu-checkbox">&#9776; Menu</label>
		
			<ul class="menu__list">
				<li class="menu__item"><a class="menu__link {{ 'menu__link--active' if title === 'uvod' }}" href="/">Úvod</a></li>
				<li class="menu__item"><a class="menu__link {{ 'menu__link--active' if title === 'ohre' }}" href="/ohre/">O hře</a></li>
				<li class="menu__item"><a class="menu__link {{ 'menu__link--active' if title === 'motivacni' }}" href="/motivacni/">Motivační úlohy</a></li>
				<li class="menu__item"><a class="menu__link {{ 'menu__link--active' if title === 'registrace' }}" href="/registrace/">Registrace</a></li>
				<li class="menu__item"><a class="menu__link {{ 'menu__link--active' if title === 'prehled' }}" href="/prehled/">Přehled týmů</a></li>
				<li class="menu__item"><a class="menu__link {{ 'menu__link--active' if title === 'kontakt' }}" href="/kontakt/">Kontakt</a></li>
			</ul>
		</nav>
	</header>
	
	<main>
	
		{{ content | safe }}

	</main>

	<footer class="footer">
		Zašifrováno 2021
		<br>© L&I&H
	</footer>

</body>
</html>
	